* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f1e8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 700px;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.container > p {
    color: #666;
    margin-bottom: 30px;
}

.upload-box {
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.upload-box h2 {
    margin-bottom: 10px;
}

.upload-dialogue{
    margin-bottom: 30px;
    color:#777;
    font-size: 15px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px;
}

#preview {
    display: none;
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 15px;
    margin: 20px 0;
}

button {
    border: none;
    padding: 14px 25px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background: #222;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.result {
    margin-top: 25px;
    background: white;
    padding: 25px;
    border-radius: 20px;
}

.result h2 {
    margin-bottom: 10px;
}

#count {
    font-size: 20px;
    font-weight: bold;
}
